.home-wrapper {
  background-color: #ccc;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-row {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.home-row + .home-row {
  padding-top: 0;
}