.professional-wrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.professional-row {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.professional-list-container {
  display: flex;
  justify-content: space-between;
}

.professional-list-actions {
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}